.imgs1 {
  width: 250px;
}
#section-2 h2 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 20px;
    line-height: 1;
    letter-spacing: -1px;
    color: #fff;
}
#section-2 hr {
    height: 2px;
    width: 90px;
    background-color: #9cbd5c;
    margin-bottom: 80px;
}
#section-2 {
  /*background: url(../img/accueil/bg-section-2.jpg) no-repeat center top;*/
    background-size: cover;
    padding: 120px 0;
    text-align: center;
    background-color: #004D63;
}
#section-2 figure {background: rgb(0,0,0,.25);padding: 20px 5px;margin-top:15px;-webkit-transition: all 0.25s;transition: all 0.25s;}
#section-2 figure:hover {background: #10589a}
#section-2 figure img {width: 120px}
#section-2 figure figcaption {font-size: 1.1rem;text-transform: uppercase;color:#fff;font-weight: 700;padding:15px 0 15px 0;}
@media (max-width:767px){
  #section-2 h2 {font-size: 2.5rem}
}

.LogoImage {
  position: absolute;
  /*top: 50%;*/
  left :50%;
  -ms-transform: translate(-50%, -140%);
  transform: translate(-50%, -140%);
  width : 30%;
}   
.background-media__video{
	display:block;
	/*position:absolute*/;
	bottom:0;
	width:100%;
	min-height:100%;
  }

html {font-family: 'Roboto', sans-serif}
body{background-color: #fff}
a:hover {text-decoration: none}
p {font-size: 1.2rem;line-height: 2}
.container {max-width: 1320px;}
.container-fluid {max-width: 100%}

/* ========== SCROLL-TOP ========== */
.scrollToTop,.scrollToTop:focus {
  color:#fff;font-size: 25px;font-weight: 300;width:50px;height:50px;padding:10px;
  text-align:center;text-decoration: none;position:fixed;bottom:65px;margin-right:20px;
  z-index: 999;background-color: #10589a;border-radius: 2px;-webkit-transition:all .2s ease-in-out;
  transition:all .2s ease-in-out;cursor: pointer}
.scrollToTop:hover{text-decoration:none;background-color: #9cbd5c;color:#fff}
.top-on {right:10px;opacity: 1}
.top-off {right:-50px;opacity: 0}

